<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <h1>
   WELCOME TO {{ title }}
  </h1>

  <img width="300" alt="image of github" src="assets/images/github.png">
</div>
<p class="big">
  This is a platform where users may enter a GitHub username into a form, submit it and see names and descriptions of that person's public repositories. A person can also look for repositories.
   <br>

   You know those moments that you are given a project or you want to do a project but have no idea of what to do?!
   <br>

   Well, this is the right for you. Here you can enter anyone's name on github or certain repository and access it on Github.
   <br>

   Have fun but not too much fun.
</p>
 <br>
 <input type="text">

 <div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}} <small>{{profile.login}}</small>
  
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}"  class="img-circle img-responsive" alt="Profile Image">

        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item">{{profile.bio}}</li>
          </ul>

        </div>
        <div class="col-sm-4">
          <div>
            <p>
              <span class="label label-primary">{{profile.followers}} | Followers</span>
              <span class="label label-success">{{profile.public_gists}} | Public gists</span>
              <span class="label label-info">{{profile.public_repos}} | Public repos</span>
            </p>
            <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-primary" >View on Github</a></p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
 
   


